.content {
  display: flex;
}

.main-content {
  flex-grow: 3;
}

:root {
  --orange-dark: #D35400;
  --orange-light: #FF8B3F;
  --orange-extreme-light: #FFEADC;
  --gray-dark: #252525;
  --gray-light: #667085;
  --black: #000;
  --white: #fff;
}